/* === RESET === */
* {margin: 0;
    padding: 0;
    text-decoration: none;
}
header * {
    list-style: none;
}
html{ overflow-x: hidden;}
input, textfield, fieldset, button{ border: none;}

/* === FONT === */

*{
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2{
    font-size: 250%;
    text-transform: lowercase;
}

h1, h2, h3, input, fieldset, legend, fieldset{
    font-style: italic;
}

h1{
    position: absolute;
    left: 20vw;
    margin-top: 0.2em;
    text-transform: lowercase;
}

h2{
    display: inline-block;
    padding: 0em 0.4em;
    background: black;
    color: white;
    text-transform: lowercase;
    max-width: 15em;
    margin: 0 1em;
    text-align: center;
    max-width:15em;
    white-space: normal;
    word-break: break-word;
}

h1::after{
    content: ".";
}

p {
    font-size: 1.5em;
    max-width: 20em;
    
    padding: 1em;
    /* background-image: linear-gradient(
        rgb(247, 205, 255),
        rgb(205, 255, 253),
        rgb(244, 255, 227)
    ); */
}

main section > h2{
    margin: 3em 0 1em 0;
}

.error_message{
    color: red; 
    font-size: 0.5em; 
    text-align: center;
}
.positive_message{
    color: green; 
    font-size: 0.5em; 
    text-align: center;
}

main a:visited{
    color: darkslategrey;
}

main a:link{
    color: black;
}
main a:hover{
    color: crimson;
}

/* === STYLE CLASSES === */


.samml_item a.circlepattern{
    background-image: url(../img/circle.svg);
    background-size: 20px;
    background-position: -5px -5px;
    background-blend-mode: hue;
}

.samml_item .green_bg{background-color: aquamarine; }

.samml_item .blue_bg{background-color: aqua;}

.samml_item .red_bg{background-color: coral; }

.samml_item .orange_bg{background-color: darkorange;}

.samml_item .white_bg{background-color: antiquewhite;}

.samml_item .locked{
    background-image: url(../img/cross.svg);
    background-size: 20px;
    background-position: -5px -5px;
    background-color: lightcyan;
    background-blend-mode: inherit;
}

.locked h2::before{
    content: "";
    display: block;
    margin: 0.175em 0.2em 0 0;
    float: left;
    width: 0.8em;
    height: 0.8em;
    background-image: url(../img/locked.svg);

}

.flex_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex_row{
    flex-direction: row;
}


/* === HEADER === */


header{
    position: absolute;
    z-index: 1;
}
header section{
    background-color: white;

    will-change: background-color;
    transition: background-color 0.5s;
}

#logo_title{
    position: fixed;
    padding-top: 1.5em;
    height: 4.5em;
    width: 100vw;
    top: 0;
    left: 0;

    will-change: color, background-color;
    transition: color 0.5s, background-color 0.5s;
}

@media (max-width: 950px){
    #logo_main_l::before{
        opacity: 0;
    }
    #logo_main_r::before{
        opacity: 0;
    }
    #logo_main_l::after{
        opacity: 0;
    }
    #logo_main_r::after{
        opacity: 0;
    }
}

#logo_main_l::after{
    content: "";
    background-image: url(../img/logo_1_links.svg);
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 1.5em;
    z-index: 100;
    width: 3em;
    height: 4em;
    left: 5.5em;
    top: 0em;

    will-change: left, top, opacity;
    transition: left 1s, top 1s, opacity 1s;
}
#logo_main_l::before{
    content: "";
    background-image: url(../img/logo_3_links.svg);
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 1.5em;
    z-index: 90;
    width: 3em;
    height: 4em;
    left: 5.5em;
    top: 0em;

    will-change: left, top, opacity;
    transition: left 1s, top 1s, opacity 1s;
}
#logo_main_r::after{
    content: "";
    background-image: url(../img/logo_2.svg);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 95;
    width: 3em;
    height: 4em;
    left: 8.5em;

    will-change: left, opacity;
    transition: left 1s, opacity 1s;
}
#logo_main_r::before{
    content: "";
    background-image: url(../img/logo_4.svg);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 85;
    width: 3em;
    height: 4em;
    left: 8.5em;

    will-change: left, opacity;
    transition: left 1s, opacity 1s;
}

#logo_title:hover #logo_main_r::before{
    left: 7.3em;
}
#logo_title:hover #logo_main_l::before{
    left: 6.7em;
    top: -0.6em;
}
#logo_title:hover #logo_main_r::after{
    left: 7.3em;
}
#logo_title:hover #logo_main_l::after{
    left: 6.7em;
    top: -0.6em;
}

@media (min-width: 980px){
    #logo_title h1{
        left: 200px;
    }
}

#burger_icon{
    width: 1.8em;
    height: 0.25em;

    position: fixed;
    top: 3.5em;
    left: 2em;

    background: black;
    border-radius: 5px;
    cursor: pointer;

    will-change: background;
    transition: background 0.5s;
}
#burger_icon::after{
    content: "";
    width: 1.8em;
    height: 0.25em;

    position: fixed;
    top: 4.2em;
    left: 2em;

    background: black;
    border-radius: 5px;

    transform: rotateZ(0deg);

    will-change: transform, top, background;
    transition: transform 0.5s, top 0.5s, background 0.5s;
}
#burger_icon::before{
    content: "";
    width: 1.8em;
    height: 0.25em;

    position: fixed;
    top: 2.8em;
    left: 2em;

    background: black;
    border-radius: 5px;

    transform: rotateZ(0deg);

    will-change: transform, top, background;
    transition: transform 0.5s, top 0.5s, background 0.5s;
}
#nav_toggler{
    position: fixed;
    top: 2.2em;
    left: 1.2em;
    width: 6em;
    height: 6em;
    background: transparent;
    border: none;
    z-index: 900;
    cursor: pointer;
}
header nav{
    position: fixed;
    left: -100vw;
    top: 6em;
    width: 100vw;
    height: 100vh;
    background: black;

    will-change: left;
    transition: left 0.5s;
}
header nav ul{
    width: 100vw;
    height: calc(100vh - 9em);
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 3em;

    overflow-y: scroll;
}

header nav ul a{
    font-size: 300%;
    line-height: 150%;
    font-style: italic;
    text-transform: lowercase;
    font-weight: bold;
    margin: 0.25em;
    color: white;

    width: 60vw;
    text-align: left;

    will-change: color;
    transition: color 0.25s;
}

header nav ul a li::after{
    content: ".";
}

header nav ul a:last-of-type{
    color: orangered;
}

header nav ul a:last-of-type::before{
    content: "";
    display: block;
    margin: 0.35em 0em 0em;
    float: left;
    width: 0.8em;
    height: 0.8em;
    background-image: url(../img/logout.svg);
    background-repeat: no-repeat;
}

header nav ul a:hover{
    color: darkorchid;
}

.visible_nav{
    left: 0;
}

#burger_icon.twisted_burger::before{
    transform: rotateZ(45deg);
    top: 3.5em;
    background: white;
}
#burger_icon.twisted_burger::after{
    top: 3.5em;
    transform: rotateZ(-45deg);
    background: white;
}
#burger_icon.twisted_burger{
    background: transparent;
}
.black_header{
    background: black;
    color: white;
}

#submit_search{
    width: 2em;
    border: none;
    padding: 0.5em 1em 0.5em 1em;

    background-image: url(../img/search.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 50%;

    cursor: pointer;
}

/* === MAIN === */

main{
    /* background: lightblue; */
    /* border: 5px black solid; */
    padding-top: 6em;
}

main section{
    padding: 1em 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0 0 5em 0;
}

h3{
    font-style: italic;
    color: black;
    background-color: white;
    padding: 0 0.3em;
}

.samml_item a{
    height: 45vh;
    background-color: white;
    background-blend-mode: luminosity;
    background-size: cover;
    background-position: center;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.samml_item a h2, .samml_item a h3{
    position: relative;
    top: 0;
    transition: top 1s;
}
.samml_item a:hover h2, .samml_item:hover a h3{
    top: -0.25em;
}


#add{
    font-size: 250%;
    text-align: center;

    width: 1.2em;
    height: 1.2em;
    position: fixed;
    bottom: 1em;
    right: 1em;

    border: 4px white solid;
    border-radius: 100%;

    background: rgb(94, 207, 94);
    color: white;
    box-shadow: rgba(0,0,0,0.5) 3px 3px 3px;

    will-change: background;
    transition: background 0.5s;
    z-index: 5;
}
#add:link, #add:visited{
    color: white;
}
#add:hover{
    background: rgb(82, 179, 82);
}
#add:active{
    margin: 0 -3px -3px 0;
    box-shadow: black 2px 2px 2px;
}

/* === FORM === */

form{
    font-size: 2em;
    width: 90vw;
    max-width: 20em;
}

input, textarea, fieldset, select{
    font-style: italic;
    border-radius: 0.2em;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    width: calc(100% - 2.4em);
}

legend{
    background: white;
    padding: 0 0.5em;
}

label{
    font-style: italic;
    color: grey;
}

main input, textarea, fieldset, select{
    border: 0.2em solid lightseagreen;
}

main input[type="submit"], select{
    width: 100%;
}

main input[type="submit"]{
    border: 0.2em solid yellowgreen;
}


#add_skill, #add_file{
    margin-left: 2em;
    font-size: 0.5em;
    color: grey;
    cursor: pointer;
}

#add_project_form select{
    width: calc(100% - 1em);
}

#add_project_form span{
    margin-left: 0em;
    color: lightgrey;
    cursor: pointer;
}

#add_project_form select:hover ~ span,
#add_project_form span:hover{
    color: orangered;
}

input[type="file"]{
    width: calc(100% - 4em);
    font-size: 0.5em;
    border: none;
}


#show_register{
    color: orangered;
    margin-bottom: 2em;
}

#show_register:visited{
    color: orangered;
}

#login_screen input.invalid_pass{
    border: 0.2em solid red;
}

#login_screen h2{
    background: transparent;
    color: black;
    margin: -1em 0 1em 0;
}

.logo_fh{
    margin-top: -3.5em;
    width: 15em;
    min-width: 30vw;
}

.radiobutton input{
    position: absolute;
    opacity: 0;
    width: 0;
}
.radiobutton span{
    width: 0.75em;
    height: 0.75em;

    background: white;
    border: 0.2em solid lightseagreen;
    border-radius: 100%;

    float: left;
    margin: 0 1em 0 0 ;
}
.radiobutton{
    display: block;
    margin: 0.5em 0;
}
.radiobutton:hover span{
    border: 0.2em solid white;
    background: lightseagreen;
}
.radiobutton input:checked ~ span{
    background: lightseagreen;
}
.radiobutton:hover input:checked ~ span{
    border: 0.2em solid lightseagreen;
    background: lightseagreen;
}

/* === STOEBER === */

#stoeber_container{
    height: calc(100vh - 6em);
    width: 100vw;
    background: sandybrown;
}

.hero div{
    position: absolute;
    width: 100vw;
    height: calc(100vh - 6em);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero{
    height: calc(100vh - 6em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero h2, .hero h3{
    z-index: 0;
}

#clap{
    font-size: 1.5em;
    width: 30%;
    font-style: italic;
    cursor: pointer;
    min-width: 10em;
}
#clap svg{
    max-width: 4em;
}

.liked p {
    color: darkseagreen;
}
#clap.liked{
    cursor: unset;
}

#submit_feedback{
    cursor: pointer;
}

#feedback_form.invisible{
    opacity: 0;
    left: -1000em;
}

#feedback_form{
    margin-top: 4em;
    opacity: 1;
    position: relative;
    left: 0;

    will-change: opacity, left;
    transition-property: opacity, left;
    transition-duration: 1s, 0s;
    transition-delay: 0s, 1s;
}

#needs_list li{
    font-size: 1.5em;
}

.fullwidth{
    width: calc(100% - 6em);
}

#edit_button::before{
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0 0.5em 0 -1em;
    background-image: url(../img/edit.svg);
    background-size: contain;
}

.feedback{
    width: 100%;
    max-width: 42em;
    list-style: none;
}

.feedback li{
    padding: 2em;
    margin: 0 1em 1em 1em;
    /*border: 0.4em solid gold;*/
    border-radius: 0.5em;
    background-image: linear-gradient(
        to top right,
        #f0ed50,
        #f1ef56,
        #fffd7a,
        #f8f683,
        #f0ed50
    )
}
.feedback p{
    padding: 0.2em 0;
}